
/* These are 'variables'
 */
* {
    -fx-primary: #007BFF;
    -fx-dark: #212529;
    -fx-info: #0DCAF0;
    -fx-red: #B02A37;
    -fx-grey: #B0B3B8;
    -fx-success: #198754;
}

/*Reusables*/
.icon{
    -fx-icon-color:-fx-grey;
}

.btn-primary {
    -fx-background-color: -fx-primary;
    -fx-font-size: 24.0;
    -fx-text-fill: white;
    -fx-cursor: HAND;
}

.btn-add{
    -fx-background-color: -fx-success;
    -fx-text-fill: white;
    -fx-cursor: HAND;
    -fx-padding: 10 10 10 10;
}
.btn-add:hover{
    -fx-background-color: #0a3622;
}


.btn-primary:hover{
    -fx-background-color: Black;
    -fx-text-fill: -fx-info;
}

.bg-dark {
    -fx-background-color: -fx-dark;
}


/*Specifics*/

.homeHeadline{
    -fx-font-size: 35;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-grey;
    -fx-font-family: Helvetica Neue;
    -fx-padding: 1em;
    -fx-border-insets: 1em;
    -fx-background-insets: 1em;
}

.h1{
    -fx-font-size: 35;
    -fx-font-weight: bold;
    -fx-font-family: Helvetica Neue;
    -fx-text-fill: -fx-grey;

}

#sideBarBtn{
    -fx-max-width: 200;
}


.greetingLabel {
    -fx-text-fill: -fx-grey;
    -fx-font-size: 15px;
    -fx-wrap-text: true;
    -fx-max-width: 500;
}

.data-table{
    -fx-pref-width: 800;
    -fx-pref-height: 500;
}

.table-column{
    -fx-font-size: 16;
}

.text-field{
    -fx-font-size: 13;
}

.combo-box{
    -fx-font-size: 13;
}

