* {
    -fx-primary: #007BFF;
    -fx-dark: #212529;
    -fx-info: #B0B3B8;
    -fx-red: #1CB2F5;
}

.icon{
    -fx-icon-color:-fx-info;
}

.btn-primary {
    -fx-background-color: -fx-primary;
    -fx-font-size: 24.0;
    -fx-text-fill: white;
}


.btn-primary:hover{
    -fx-background-color: Black;
    -fx-text-fill: -fx-info;
}

.homeHeadline{
    -fx-font-size: 35;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-info;
    -fx-font-family: Helvetica Neue;
    -fx-padding: 1em;
    -fx-border-insets: 1em;
    -fx-background-insets: 1em;

}

.homeHeader{
    -fx-background-color: -fx-info;
}

.bg-dark {
    -fx-background-color: -fx-dark;
}

